
<div class="row" style="margin: 5px;">
  <div class="col-md-4">
    <h1>Med Dhia</h1>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Repositories
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-repositories></app-repositories>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Followers
          </mat-panel-title>
        </mat-expansion-panel-header>
        followers
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Interview with Dhia chatbot
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-chatbot></app-chatbot>
      </mat-expansion-panel>
    </mat-accordion>




  </div>
</div>



