/* You can add global styles to this file, and also import other style files */

/*makes spacer at the top of the component*/
.spacertop{
    margin-top: 20px;
}

/*makes spacer at the left of the component*/
.spacerleft{
    margin-left: 20px;
}

body{
    background-image: url("src\app\images\dhiabg.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
